* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(34,113,128,1) 0%, rgba(150,101,181,1) 0%, rgba(19,3,73,1) 100%);
}

.container {
  border-radius: 20px;

  position: relative;
  margin: auto;
  height: 600px;
  width: 1000px;
  margin-top: 30px;
}

.search-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  background: rgb(2,0,36);
  border: 1px solid #AC4BC5;
  height: 40px;
  width: 400px;
}

.container h2 {
  color: aliceblue;
  text-align: center;
}

.btn {
  height: 40px;
  display: inline-block;
  width: 70px;
  background: #e84848;
  border: none;
  color: white;
}

::placeholder {
  font-size: 15px;
  padding: 10px;
  color: rgb(207, 203, 203);
}

#para {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.btn-end {
  height: 30px;
  width: 50px;
 border-radius: 5px;
  border: none;
  background:none ;
  position: absolute;
  left: 80%;
  color: #fff;
  top: 12px;
}

.btn-end2 {
  color: #fff;
  background:#e84848 ;
  height: 30px;
  width: 50px;
 border-radius: 5px;
  border: none;
  position: absolute;
  left: 90%;
  top: 12px;
}




.show {
  height: 370px;
  margin-top: 20%;
  border-radius: 20px;
}

.del {
  position: relative;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  height: 60px;
  border: 1px solid grey;
}

.edit {
  top: 20px;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  height: 50px;
  border: 1px solid grey;
}





input, select, textarea{
  color: #fff;
  font-size: 20px;
}